.navbar-j {
    padding: 0;
    margin-left: 50px;
    width: 60px;
    height: 60px;
    border-color: #4b6cc1;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    overflow: hidden;
}

body{
    background-color: #191a1d;
}

.image-nav{
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.background-section {
    padding-top: 100px;
    padding-bottom: 30px;
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-sizing: border-box;
}


.image:hover{
    width: 350px;
    height: 350px;
}

.heading {
    font-size: 38px;
    color: white;
    font-family: "Roboto";
    font-weight: 800;
}

.Jenny {
    color: #4b6cc1;
}

.para {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 20px;
}

.botton {
    background-color: #4b6cc1;
    border-radius: 8px;
    border-width: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: #4b6cc1;
    color: white;
    font-family: "Roboto";
    width: 130px;
    height: 45px;
}

button:hover{
    background-color: transparent;
}

.logo{
    width: 200px;
    height: 40px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: #4b6cc1;
}

.logo1{
    border-style: solid;
    border-width: 2px;
    border-color: #4b6cc1;
    padding: 15px;
    border-radius: 50%;
}

i:hover{
    background-color: #4b6cc1;
    color: white;
}

.profile{
    display: flex;
    justify-content: center;
    
}